@import "../../styles/constant.scss";

.page-login {
  background-color: $main;
  height: 100vh;
  overflow: hidden;

  .page-login-content {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    padding-bottom: 50px;
    background: white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px;
  }
  
  .page-login__btn--login {
    margin-top: 40px;
  }

  .at-tabs-pane {
    padding-top: 1px;
  }
}