@import "../../styles/constant.scss";

.page-video-edit {
  height: 100vh;
  background-color: $background;
  overflow: hidden;
  position: relative;
  color: $black;

  .page-coupon-edit__bg {
    background-color: $blue;
    width: 100%;
    height: 15%;
  }

  .page-coupon-edit__content {
    position: absolute;
    width: 99%;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
  }

  .page-coupon-edit__card:not(:last-child) {
    margin-bottom: 30px;
  }

  .at-input {
    margin-left: 0;
  }

  .at-input__title {
    width: 210px;
  }

  .at-list::after,.at-list__item::after {
    border: 0;
  }

  .item-content__info-title::before {
    display: inline-block;
    margin-right: 8rpx;
    color: #FF4949;
    font-size: 28rpx;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
  }

  .at-list__item {
    padding: 18px 0;
  }

  .page-coupon-edit__btn {
    width: 93%;
  }

  .upload {
    background-color: $background;
    width: 100%;
    min-height: 300px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;

    View {
      margin-top: 130px;
    }
  }
}