@import "../../styles/constant.scss";

.page-split-list {
  height: 100vh;
  background-color: $background;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 150px;

  .scroll-view {
    padding: 0 30px;
    box-sizing: border-box;
  }

  .add-area {
    width: 100%;
    height: 150px;
    background-color: white;
    overflow: hidden;
  }

  .page-activity-list__btn {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .activity-card {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
  }
  
  .activity-card-header {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border;
    position: relative;
  }

  .activity-card-del {
    position: absolute;
    right: 0px;
  }

  .activity-card-icon {
    background-color: $blue;
    color: white;
    font-size: 24px;
    margin-right: 10px;
    padding: 0 8px;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .activity-card-content {
    font-size: 26px;
    display: flex;
    align-items: flex-start;
  }

  .activity-card-field {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
    View:first-child {
      color: $field;
      margin-right: 10px;
    }

    image {
      width: 418px;
    }
  }

  .img {
    width: 90px;
    max-height: 90px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: $background;
    overflow: hidden;

    Image {
      width: 100%;
    }
  }
}