@import "../../styles/constant.scss";

.page-split-detail {
  min-height: 100vh;
  background-color: $background;
  position: relative;
  color: $black;

  .page-coupon-edit__bg {
    background-color: $blue;
    width: 100%;
    height: 15%;
  }

  .page-coupon-edit__content {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 3%;
    transform: translateX(-50%);
    padding-bottom: 30px;
    background-color: $background;
  }

  .page-coupon-edit__card:not(:last-child) {
    margin-bottom: 30px;
  }

  .page-coupon-edit__btn {
    width: 93%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .at-list__item {
    padding: 12px;
  }

  .at-list__item-extra {
    max-width: 400px;
    word-break: break-all;

    .item-extra__info {
      white-space: unset;
    }
  }
}