@import "../../styles/constant.scss";

.page-profile {
  height: 100vh;
  background-color: $background;

  .page-profile__line {
    display: flex;
    align-items: center;
    position: relative;

    .at-list__item {
      flex: 1;
      padding-left: 150px;

      &::after {
        left: -20px;
      }
    }
  
    .page-center__info-avatar {
      width: 90px;
      height: 90px;
      overflow: hidden;
      position: absolute;
      left: 35px;
      background-color: $background;
    }

    .avatar {
      width: 100%;
      height: 100%;
    }
  }
}