$blue: #6190E8;
$yellow: #ffc82c;
$green: #13CE66;
$red: #FF4949;
$blue-b: #346FC2;
$blue-s: #78A4FA;
$background: #f7f7f7;
$grey: #cccccc;
$black: #333333;
$border: #f5f5f5;
$field: #9a9a9a;
$purple: #9289a0
